<launch>
	<node pkg="usb_cam" name="ps3_eye" type="usb_cam_node" output="screen">
	<param name="pixel_format" value="yuyv"/>
	<param name="image_width" value="320"/>
	<param name="image_height" value="240"/>
	</node>

	<node pkg="object_tracking" name="object_tracking" type="object_tracking" output="screen"/>
	<node pkg="web_video_server" name="web_video_server" type="web_video_server" output="screen"/>
</launch>
